@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;

}

.playfair-font {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
}

.lato-font {
  font-family: "Lato", sans-serif;
}

.head-button {
  background-color: #fb5607;
}

.hero-section-index {
  height: auto;
  width: 100%;
}

.nav-item>a {
  color: white;
  font-size: 1rem;
}

.main-container-hero-section-index {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('/assests/images/home-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-container-hero-section-index::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(0, 18, 25, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.index-hero-section-content {

  padding-block: 5rem;
  padding-bottom: 9rem;
  padding-inline: 2rem;


}

.package-card>img {


  border-radius: 80px;

}

.packages-details {

  width: 60%;


  background: rgb(255, 253, 252);


  border-radius: 50%;


}

.pacakage-content {

  display: flex;

  flex-direction: column;

  gap: 1rem
}

.pacakage-content>h4 {

  color: #fb5607;
  border-radius: 40px;



}



.continant {

  text-transform: uppercase;

  color: #fb5607;

  letter-spacing: 1px;

}

.third-section {



  padding-inline: 10rem;

  padding-block: 6rem;


}

.third-section-img {

  height: 420px;

  width: 386px;

}

.third-section-img-1 {

  height: 468px;

  width: 386px;

}


.Adventure {

  font-size: 52px;

  font-weight: 700;

  color: black;

}

.choose-btn {
  padding: 7px 35px;
  border-radius: 40px;
  border: none;
  background: #ffece3;
  color: #ff6b00;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
}

.test-btn {

  text-transform: uppercase;

  padding: 7px 35px;
  border-radius: 40px;
  border: none;
  background: #ffece3;
  color: #ff6b00;
  letter-spacing: 1px;
  font-size: 12px;
  cursor: pointer;
}



.fiveth-section{

  background-color: #fff;

  margin-top:10rem;

}

.fiveth-section p {

  font-size: 16px;

  
}



.sixth-section {

  padding-bottom:3rem;
  background: #fb5607;
}

.inner-sixth {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: 2; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {

  font-size: 16px;

  color: #fffffc;

  text-align: center;

}

.why-us {
      background: url('/assests/images/home-tour.png') center/cover no-repeat;
      min-height: 100vh;
      position: relative;
    }

    .overlay {
      background: rgba(0, 0, 0, 0.35);
      min-height: 100vh;
    }

    .why-card{

         position: relative;

    }
    .feature-card {

      height:80vh;

      position: absolute;
   
      transform:translateY(-120px); 
      background: #fff;
      border-radius: 40px;
      padding-block:4rem;
      padding-inline:2rem;
    }

    .feature-icon {
      color: #ff5a00;
      font-size: 28px;
    }

    .right-content h1 {
      font-size: 3rem;
      font-weight: 600;
    }



/*
  
     About page Star here

  */


.hero-section-packages{
      

   display: flex ;

   justify-content: center;


   align-items:center;


} 


.main-container-hero-section-about {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('/assests/images/about-hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-container-hero-section-about::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(0, 18, 25, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.about-hero-section-content {
  /* 
    padding-block: 5rem; */
  /* padding-bottom: 9rem; */
  padding-inline: 2rem;
  padding-top: 8rem;


}



.about-second-section {
  padding: 80px 0;
}

.about-customize-btn {
  background: #ffe7d6;
  color: #ff6a00;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
}

.about-travel {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
}

.check-list {
  display: flex;
  gap: 25px;
  margin-top: 25px;
  font-weight: 500;
}

.check-list i {
  color: #ff6a00;
  margin-right: 6px;
}



.card-section {

  padding-block: 4rem;

  background-color: #fffffc;

  border: 1px solid #d1d1d1;

}

.count {

  font: size 52px;

  font-weight: 700;

}

.exprience {

  font: size 16px;

  font-weight: 400;


}

.matop {

  top: 8rem;

}

.about-second-section {


  position: relative;

  top: 12rem;
}

.about-travel {

  font-size: 3.25em;

  font-weight: 700;
  color: #000000;
}

.about-our-team {

  font-optical-sizing: auto;

  font-size: 16px;
}

.customer-section {
  background-color: #fffdf8;
  padding: 60px 0;
}

.icon-group {
  position: relative;
  width: 150px;
}

.icon-group img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #fff;
  position: absolute;
}

.icon-1 {
  left: 0;
  z-index: 3;
}

.icon-2 {
  left: 35px;
  z-index: 2;
}

.icon-3 {
  left: 70px;
  z-index: 1;
}

.customer-text {
  padding-top:3rem;
  font-size: 36px;
  font-weight: 700;
}

.highlight {
  color: #000;
}











.destination-section {
  padding: 80px 0;
  text-align: center;
}

.badge-custom {
  background: #ffe6d5;
  color: #ff6b00;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 15px;
}

.destination-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
}


.destination-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.destination-card {
  position: relative;
  border-radius: 60px;
  overflow: hidden;
  height: 580px;
}

.destination-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destination-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: #fff;
  text-align: left;
}

.destination-overlay h4 {
  margin: 0;
  font-weight: 600;
}

.destination-meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 8px;
}






.about-section-third {
  background-color: #fff4e8;
  padding: 80px 0;

  margin-top: 12rem;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.img-small {
  height: 180px;
}

.img-large {
  height: 360px;
}

.about-badge {
  display: inline-block;
  padding: 6px 16px;
  background: #fff;
  color: #ff5a00;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 15px;
}

.about-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
}

.about-text {
  color: #555;
  margin: 20px 0 30px;
}

.btn-orange {
  background: #ff5a00;
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
}

.team-section {
  padding: 40px 0;
  text-align: center;

  margin-bottom: 10rem;

  background-color: #FFF6EC;

}

.team-badge {
  display: inline-block;
  padding: 6px 18px;
  border-radius: 20px;
  background: #fff;
  color: #ff7a00;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.team-title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 60px;
}


.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.team-card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 70px;
}

.team-name {
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}

.team-role {
  font-size: 14px;
  color: #666;
}










/*

    < ----------------- Pakages Start Here  ---------------------->
*/
.hero-section-packages {

  height: 100vh;
  width: 100%;

}

.main-container-hero-section-packages {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('/assests/images/packages-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-container-hero-section-packages::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(0, 18, 25, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.hero-packages-content{
  

  padding-block:8rem;
    

}
.packages-second-section{

  position: relative;
  
}
.second-section-inner{



  
  

}

.packages-our {

  font-size: 16px;

  background-color: #D1D1D145;

  color: white;

  z-index: 2;

  border-radius: 40px;

  padding-inline: 2.4rem;

  padding-block: 0.4rem;



  font-weight: 400;


}

.packages-discover {

  font-size: 70px;

  color: white;

  z-index: 2;

  font-weight: 700;

  line-height: normal;

}




.packages-card{
   
  border: 1px solid #d1d1d1;

  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 



  


}
.packages-card-img{

   border-radius:55px;

}
.packages-africa{

  font: size 16px;

  border-radius:40px;

  font-weight: 400;

  background-color: #ffece3;

  color: #ff6b00;

  padding-inline:2.2rem;

  padding-block:0.4rem;

  letter-spacing:1px;




}
.packages-enchanting{

  font: size 30px;

  font-weight: 700;


}
.packages-days{

  font-size:16px;
  font-weight: 400;
  

}
.packages-icons {

    display: flex;

    gap:1rem


}
.start-trip-btn{

  display: flex;

  gap: 8rem;
}


/*

    < ----------------- Pakages end Here---------------------->
*/





@media (max-width: 576px) {

  .third-section-img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 20px;
  }

  .pt {

    display: flex;

    flex-direction: column;

  }

  .kt {

    display: flex;

    flex-direction: column;

    gap: 20rem;

    margin-bottom: 23rem;

  }

  .third-section {
    padding-inline: 2rem;

    padding-block: 4rem;

  }

  .img-4 {

    display: flex;

    gap: 4rem;

  }

  .third-3 {

    display: flex;

    flex-direction: column;

    gap: 4rem;

  }

  .detination {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .choose-btn {

    padding: 15px 40px;

  }

  .your {

    display: flex;

    flex-direction: column;

    gap: 1.8rem;
  }
   .packages-card-container{
           
     display: flex;

     flex-direction: column;

     gap:3rem;

     justify-content: center;

     align-items: center;

   }
   .start-trip-btn{

      display: flex;

      flex-direction: column;

      gap:2rem;

   }

}